<p id="notice"><%= notice %></p>

<p>
  <strong>Account name:</strong>
  <%= @prod_instance.account_name %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @prod_instance.hostname %>
</p>

<%= instanceId =%>

<%= link_to 'Edit', edit_prod_instance_path(@prod_instance) %> |
<%= link_to 'Back', prod_instances_path %>
