<%= form_for(region_table) do |f| %>
  <% if region_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(region_table.errors.count, "error") %> prohibited this region_table from being saved:</h2>

      <ul>
      <% region_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_name %>
    <%= f.text_field :account_name %>
  </div>

  <div class="field">
    <%= f.label :sbx_hostname %>
    <%= f.text_field :sbx_hostname %>
  </div>

  <div class="field">
    <%= f.label :prod_hostname %>
    <%= f.text_field :prod_hostname %>
  </div>

  <div class="field">
    <%= f.label :region %>
    <%= f.text_field :region %>
  </div>

  <div class="field">
    <%= f.label :subregion %>
    <%= f.text_field :subregion %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
